:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

footer {
  text-align: center;
  color: rgb(189, 189, 189);
  padding: 1.75rem;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #242424af;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.375rem;
  font-size: medium;
  color: #eff0ee;
  cursor: pointer;
}

.button-lg {
  background-color: #ec8e35;
  margin: 1rem 1.75rem 3rem;
  width: calc(100% - 3.5rem);
}

.button-sm {
  background-color: black;
  border-radius: 10px;
  margin-top: 0.75rem;
  margin-right: 10px;
  text-transform: capitalize;
}

.mt-175 {
  margin-top: 1.75rem;
}

.button-sm > a {
  color: white;
}

.button-clear {
  background-color: inherit;
  border: none;
  color: #242424;
  text-decoration: underline;
}

.card {
  background-color: #ec8d3586;
  border: none;
  border-radius: 5px;
  padding: 2.25rem;
  margin-top: 3.5rem;
  max-width: fit-content;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  margin: 0;
  padding: 0 0 0.5rem;
  line-height: 38px;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

p {
  text-align: justify;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem;
  background-color: #f8ead0;
}

.host-nav {
  background-color: #f8ead0;
  padding-left: 1.75rem;
}

.links {
  display: flex;
}

.links > a {
  margin-right: 1.75rem;
  align-self: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.65)) ,url("./assets/home-page.jpg");
  background-position-x: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin: 0 1.75rem;
  padding-top: 3.5rem;
  color: white;
  font-size: large;
}

.about-image {
  background-image: url("./assets/about-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.main {
  background-color: #f8ead0;
  margin: 0;
  padding: 3rem 1.75rem;
}

.vans-list {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hostvan-tile {
  background-color: rgb(245, 245, 235);
  display: flex;
  padding: 10px;
  margin-top: 10px;
}

.hostvan-tile > img {
  margin-right: 1rem;
}

.van-tile {
  margin: 10px 0 20px;
}

.van-tile > img {
  border-radius: 5px;
}

.van-detail > img {
  width: 100%;
  overflow: hidden;
}

.van-info {
  display: flex;
}

.van-info > div {
  margin: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hostvan-detail {
  background-color: rgb(245, 245, 235);
  padding: 1.75rem;;
}

.simple {
  background-color: rgb(134, 107, 16)
}

.luxury {
  background-color: rgb(4, 121, 141);
}

.rugged {
  background-color: rgb(9, 68, 21);
}

.van-type-select {
  background-color: rgb(226, 208, 174);
  color: black;
}