:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

footer {
  text-align: center;
  color: rgb(189, 189, 189);
  padding: 1.75rem;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #242424af;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.375rem;
  font-size: medium;
  color: #eff0ee;
}

.button-lg {
  background-color: #ec8e35;
  margin: 1rem 1.75rem 3rem;
  width: calc(100% - 3.5rem);
}

.button-sm {
  background-color: black;
  border-radius: 10px;
  margin-top: 1.75rem;
}

.card {
  background-color: #ec8d3586;
  border: none;
  border-radius: 5px;
  padding: 2.25rem;
  margin-top: 3.5rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

h1 {
  margin: 0;
  padding: 0 0 0.5rem;
  line-height: 38px;
  font-weight: 700;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 30px;
}

p {
  text-align: justify;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem;
  background-color: #f8ead0;
}

.links {
  display: flex;
}

.links > a {
  margin-right: 1.75rem;
  align-self: center;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.65)) ,url("./assets/home-page.jpg");
  background-position-x: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  margin: 0 1.75rem;
  padding-top: 3.5rem;
  color: white;
  font-size: large;
}

.about-image {
  background-image: url("./assets/about-page.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

.about-text {
  background-color: #f8ead0;
  margin: 0;
  padding: 3rem 1.75rem;
}